<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>
	<arg name="paused" default="false" />
	<arg name="use_sim_time" default="true" />
	<arg name="gui" default="true" />
	<arg name="headless" default="false" />
	<arg name="debug" default="false" />
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find p3dx_description)/urdf/pioneer3dx.xacro'" />
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" 
		respawn="false" output="screen" args="$(arg init_pose) -urdf  p3dx -param robot_description -model $(arg robot_name)" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" 
          name="robot_state_publisher" output="screen"/>

    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->
</launch>
